// Place all the styles related to the table controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

$bgDefault      : #4c3327; //ヘッダーの濃い色
$bgHighlight    : #c07c54;
$colDefault     : #e7e2d9; //灰色
$colHighlight   : #ffffff; //白
$colTitle       : #fff3e6; //背景
$colAccent      : #80BBFF; //背景の補色
$dropDown       : false;

body {
  background-color: $colTitle;
}

.box30 {
    margin: 2em 0;
    background: $colDefault;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);

    .box-title {
	font-size: 1.2em;
	background: $bgDefault;
	padding: 4px;
	text-align: center;
	color: $colHighlight;
	font-weight: bold;
	letter-spacing: 0.05em;
        font-family: YuGothic,'Yu Gothic','TsukuARdGothic-Regular','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif; }

    p {
	padding: 15px 20px;
	margin: 0;  }}


//ナビゲーションバー
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  margin: 0 auto;  
  width:100%;
  .navbar-brand {
      color: $colDefault;
      font-family: 'メイリオ', Meiryo,'ヒラギノ明朝 ProN','Hiragino Mincho ProN',monospace;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.jumbotron {
  background-image: url("top.jpg");
  background-size: cover;
  background-position: center 60%;
}

//リンク文字
a {
color: $bgDefault;
}

p.more {
    text-align: center;
}

table{
    padding: auto;
    margin: auto;
}

